body {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;    
    line-height: 1;
    align-content: center;
    background-image: url("https://static01.nyt.com/images/2020/03/25/smarter-living/00sl-coronaanxiety-print/00sl-coronaanxiety-superJumbo.jpg?quality=90&auto=webp");
    background-size: cover;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color:	#f4d9c8;
    border-radius: 0;
    border-bottom: 6px dashed #bbb5cc;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    background-color: transparent;
  }
  
  .row {
    white-space: pre-wrap;
    height: auto;
    border-top: 2px;
  }
  
  .hour {
    background-color: white;
    color: #000000;
    border-top: 1px dashed #000000;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;     
    width: 115px;  
  }

 
  
  .past {
    background-color:#c9ccce;
    color: white;
  }
  
  .present {
    background-color:	#f4d9c8;
    color: #49697c;
  }
  
  .future {
    background-color: #49697c;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:	#9b90a1;
    border-color:transparent;
    color: white;
  }

  .saveBtn:hover{
    background-color:	#9cb7c8;
    border-color: transparent;    
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
.container {
  background-color: transparent;
  font-size: 20px;
}

.form-control {
  font-size: 20px;
  text-align: center;

}